{% extends '::base.html.twig' %}

{% block body -%}
    <div class="col s12 m8 l6">
    	<h1>Editar Empleado</h1>
	    {{ form_start(edit_form) }}
		    {{ form_errors(edit_form) }}
		 	    <div class="input-field col s12 m12 l6">
		 	    	{{ form_row(edit_form.username) }}
			    </div>
			    <div class="input-field col s12 m12 l6">
		    	{{ form_row(edit_form.password) }}
		 		</div>
			    <div class="input-field col s12 m12 l6">
			    {{ form_row(edit_form.nombre) }}
			    </div>
			    <div class="input-field col s12 m12 l6">
			    {{ form_row(edit_form.apellido) }}
			    </div>
			    <div class="input-field col s12 m12 l6">
			    {{ form_row(edit_form.numDocumento) }}
			    </div>
			    <div class="input-field col s12 m12 l6">
			    {{ form_row(edit_form.email) }}
			    </div>
			    <div class="input-field col s12 m12 l6">
			    {{ form_row(edit_form.telefono) }}
			    </div>
			    <div class="input-field col s12 m12 l6">
			    {{ form_row(edit_form.salarioBasico) }}
			    </div>
			    <div class="input-field col s2 m3 l2">
			    	{{ form_label(edit_form.grupo) }}
			    </div>
			    <div class="input-field col s10 m9 l10">
			    {{ form_widget(edit_form.grupo) }}
			    </div>
			    <div class="input-field col s2 m3 l2">
			    	{{ form_label(edit_form.eps) }}
			    </div>
			    <div class="input-field col s10 m9 l10">
			    {{ form_widget(edit_form.eps) }}
			    </div>
			    <div class="input-field col s2 m3 l2">
			    	{{ form_label(edit_form.pension) }}
			    </div>
			    <div class="input-field col s10 m9 l10">
			    	{{ form_widget(edit_form.pension) }}
			    </div>
			    <p class="input-field col s2 m3 l2">
			    Estado
			    </p>
			    <p class="input-field col s10 m9 l10">
			    <div class="switch">
			    	<label>
				    	Off
				      	{{ form_widget(edit_form.isactive) }}
				      	<span class="lever"></span>
				      	On
			    	</label>
			    </div>
		 		</p>
		 		
		{{ form_end(edit_form) }}
    </div>
    
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
    	{{ form(delete_form) }} <a href="{{ path('users') }}" >Atras</a>
    </div>
{% endblock %}
