{% extends '::base.html.twig' %}

{% block body -%}
    <h1>Proveedor</h1>

    <table class="record_properties">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ entity.id }}</td>
            </tr>
            <tr>
                <th>Razonsocial</th>
                <td>{{ entity.razonSocial }}</td>
            </tr>
            <tr>
                <th>Representante</th>
                <td>{{ entity.representante }}</td>
            </tr>
            <tr>
                <th>Telefono</th>
                <td>{{ entity.telefono }}</td>
            </tr>
            <tr>
                <th>Email</th>
                <td>{{ entity.email }}</td>
            </tr>
            <tr>
                <th>Isactive</th>
                <td>{{ entity.isActive }}</td>
            </tr>
        </tbody>
    </table>

        <ul class="record_actions">
    <li>
        <a href="{{ path('proveedor') }}">
            Back to the list
        </a>
    </li>
    <li>
        <a href="{{ path('proveedor_edit', { 'id': entity.id }) }}">
            Edit
        </a>
    </li>
    <li>{{ form(delete_form) }}</li>
</ul>
{% endblock %}
